doctype html
head
  link(rel='stylesheet', href='/css/404.css')
  link(rel='shortcut icon', href='/img/Logo.png')
  title Zafriel &bull; P&aacute;gina n&atilde;o Encontrada
.container
  h1 P&aacute;gina n&atilde;o Encontrada
  p
    | Acho que voc&ecirc; foi longe demais e se perdeu.
    i.fas.fa-question.pl-2
  a.btn(href='/') P&aacute;gina Principal
