doctype
html(lang='en')
  head
    link(rel='shortcut icon', href='/img/Logo.png')
    
    script(src='/js/sidebar.js', defer)
    link(rel='stylesheet', href='/css/sidebar.css')

section#overviewModule.module.px-5
  .form-group.mt-5
    .row.text-center
      .col-lg-3.col-md-6
        .border.rounded.m-3.p-3
          p.uppercase
            i.fas.fa-user-ninja
            strong.ml-1 Dono
          p.mb-0 #{guild.owner.user.tag}
      .col-lg-3.col-md-6
        .border.rounded.m-3.p-3
          p.uppercase
            i.fas.fa-user-alt
            strong.ml-1 Membros
          p.mb-0 #{guild.memberCount}
      .col-lg-3.col-md-6
        .border.rounded.m-3.p-3
          p.uppercase
            i.fas.fa-at
            strong.ml-1 Cargos
          p.mb-0 #{guild.roles.cache.size}
      .col-lg-3.col-md-6
        .border.rounded.m-3.p-3
          p.uppercase
            i.fas.fa-hashtag
            strong.ml-1 Canais
          p.mb-0 #{guild.channels.cache.size}