doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Site Oficial do Bot Zafriel')
  meta(name='author', content='zSpl1nterUS_#6455')
  meta(name='keywords', content='Discord Bot, Zafriel')
  meta(property='og:image', content='https://cdn.discordapp.com/attachments/751976776607203408/811784168811921448/Zafriel_Logo.png')
  // Fonts
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
  // CSS import
  link(rel='stylesheet', type='text/css', href='/css/commands_page.css')
  // Favicon
  link(rel='shortcut icon', href='/img/Logo.png')
  title Comandos &bull; Zafriel
  script(src='https://kit.fontawesome.com/a076d05399.js', crossorigin='anonymous')

#progressBar
#scrollPath
.container
  header
    nav
      input#check(type='checkbox')
      label.checkbtn(for='check')
        i.fas.fa-bars
      a.logo(href='/')
        img#avatar(src='/img/Zafriel_Logo.png', alt='avatar')
        strong#text_logo &#x1F98A; Zafriel &#x1F43E;
      ul
        li
          a(href='/', id='') Home
        li
          a.active(href='/commands', id='') Comandos
        li
          a(href='https://discord.gg/zX8Fq4V', id='') Suporte
        li
          a(href='https://discord.com/oauth2/authorize?client_id=601847636546289664&permissions=20887631278&scope=bot', id='') Meu Convite
        li
          a(href='https://zuraaa.com/bots/601847636546289664/', id='') Vote
        li
          a(href='#', id='') Sobre
        li  
          a(href='/maintenance', id='') Login

    .img-wrapper
      img(src='/img/Zafriel_WPP.png', alt='')
    .banner
      h1
        | Nesta p&aacute;gina
        br
        |             voc&ecirc; ir&aacute; encontrar
        br
        |             a lista dos meus comandos
      p Zafriel
      a(href='#commands')
        button Lista
  section#commands.list-commands
    .session-header
      h1 Comandos
    .cmd-info
      p
        | Os comandos s&atilde;o separados pelas categorias com cada bot&atilde;o
        | referenciando o mesmo, caso queira ver a lista de comandos de alguma
        | categoria basta clicar no bot&atilde;o com o nome do mesmo.
    .commands
      .cmd-list
        .cmd-header
          a(href='')
            button Informa&ccedil;&atilde;o
      .cmd-list
        .cmd-header
          a(href='')
            button Modera&ccedil;&atilde;o
      .cmd-list
        .cmd-header
          a(href='')
            button Configura&ccedil;&atilde;o
      .cmd-list
        .cmd-header
          a(href='')
            button Economia
      .cmd-list
        .cmd-header
          a(href='')
            button Meme
      .cmd-list
        .cmd-header
          a(href='')
            button Divers&atilde;o
      .cmd-list
        .cmd-header
          a(href='')
            button Bot
      .cmd-list
        .cmd-header
          a(href='')
            button Miscel&acirc;nia
      .cmd-list
        .cmd-header
          a(href='')
            button Outros
  footer
    .Fcontainer
      .sec.aboutus
        h2 Sobre Mim
        p
          | Sou um Bot desenvolvido em JavaScript usando a biblioteca
          | Discord.JS, meu desenvolvedor &eacute; o 
          strong #{client.users.cache.get("600804786492932101").tag}
          | , caso queira ver as Rede Sociais
          |               dele ou at&eacute; mesmo meu reposit&oacute;rio no GitHub estarei deixando todos
          |               os Links para voc&ecirc; ser redirecionado diretamente para os mesmos.
        ul.sci
          li
            a(href='https://twitter.com/zSpl1nterUS_')
              i.fab.fa-twitter(aria-hidden='true')
          li
            a(href='https://github.com/zSpl1nterUS')
              i.fab.fa-github(aria-hidden='true')
          li
            a(href='https://www.youtube.com/channel/UCz2V-73WjkV9N6Nwxef9HgA')
              i.fab.fa-youtube(aria-hidden='true')
          li
            a(href='https://discord.com/users/600804786492932101')
              i.fab.fa-discord(aria-hidden='true')
      .sec.quickLinks
        h2 Links
        ul
          li
            a(href='#') Ajuda
          li
            a(href='#') Sobre
          li
            a(href='#') Contato
          //
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Terms & Consitions</a></li>
            <li><a href="#">Contacts</a></li>
  .copyrightText
    p
      | Copyright &copy; 2019 - 2020 Zafriel Company. All Rights Reserved.
script(src='/scripts/fadeOut.js')
script(src='/scripts/progress.js')
script(src='/scripts/modal.js')
